body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(180deg, #87ceeb, #c0f6ff);
  min-height: 100vh;
} 

 .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 

 .card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  width: 500px;
  height: 650px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 12px;
}

.city {
  font-size: 40px;
  font-weight: bold;
  color: #555;
}

.temp {
  font-size: 100px;
  font-weight: bold;
  margin: 8px 0;
} 

 .desc {
  font-size: 30px;
  color: #666;
}

.weather-container{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.icon {
  width: 30%;
  height: 30%;
}

.sub {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 30px;
  opacity: 0.8;
}


.weekly {
  margin-top:  40px;
  opacity: 0.9;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}

/* .weekly-title {
  font-size: px;
  opacity: 0.8;
  margin-bottom: 10px;
} */

.weekly-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
  align-items: center;
}

.weekly-item {
  min-width: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.weekly-item img {
  width: 40px;
}

.weekly-temp {
  margin-top: 4px;
  font-size: 20px;
}


/*時間帯で背景のグラデーションが変化 */
/* 共通 */
.app {
  min-height: 100vh;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 朝 */
.bg-morning{
  background: linear-gradient(180deg, #6ec6ff, #b3e5fc);
} 

/* 昼 */
 .bg-day {
  background: linear-gradient(180deg, #4fc3f7, #81d4fa);
}
/* 夕方 */
 .bg-evening {
  background: linear-gradient(180deg, #ff8a65, #4e342e);
} 

/* 夜 */
 .bg-night {
  background: linear-gradient(180deg, #0d47a1, #000428);
} 

/* スマホ用レイアウトCSS */
/* .screen {
  max-width: 390px;
  margin:  auto;
  padding: 20px;
  background: white;
  border-radius: 16px;
  text-align: center;
} 
 .card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
} 
  .card {
  max-width: 390px;
  margin: 0 auto;
  padding: 20px;
} 

 .header {
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
}

.main {
  margin-top: 40px;
  text-align: center;
}

.temp {
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
}

.desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.icon {
  width: 120px;
}

.sub {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 20px;
  opacity: 0.8;
}

.weather-container {
  display:  flex;
  justify-content: center;
  align-items: center;
} */